*{
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-image: url('assets/art-background.jpg');
  color: #F0F0F0;
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.container{
  max-width: 1300px;
  width: 100%;
  margin: auto;
  padding: 0px 20px;
}

section {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
  margin-bottom: 10px;
}

h2 {
  font-size: 1.6em;
  line-height: 1.1;
  text-align: center;
  margin-bottom: 70px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

.card {
  /* flex: 0 0 calc(25% - 20px);
  max-width: calc(25% - 20px); */
  flex: 0 0 calc(33.33% - 40px);
  max-width: calc(33.33% - 40px);
  /* flex: 0 0 calc(33.33% - 20px);
  max-width: calc(33.33% - 20px); */
  width: 100%;
  background: #D2B48C;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  transition: .3s;
  border: 2px solid transparent;
}

.card:hover{
  border-color: #4C12A7;
}

.card img {
  max-width: 100%;
  height: auto; 
  display: block; 
  margin: 0 auto;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

.btn-1 {
  border-radius: 8px;
  border: 1px solid #4C12A7;
  margin-top: 20px;
  padding: 0.6em 1.2em;
  display: inline-block;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #fff;
  background-color: #4C12A7;
  cursor: pointer;
  transition: border-color 0.25s;
}

.btn-1:hover {
  background-color: #fff;
  color: #4C12A7;
  border-color: #4C12A7;
}

.btn-2 {
  border-radius: 8px;
  border: 1px solid #F61865;
  margin-top: 20px;
  padding: 0.6em 1.2em;
  display: inline-block;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #fff;
  background-color: #F61865;
  cursor: pointer;
  transition: border-color 0.25s;
}

.btn-2:hover {
  background-color: #fff;
  color: #F61865;
  border-color: #F61865;
}

.btn-1:focus,
.btn-1:focus-visible, 
.btn-2:focus,
.btn-2:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (max-width: 600px){
  .card {
    flex: 0 0 100%;
    max-width: 100%;
  }
}